*.swp
*.orig
ansible-ssh
*.tar.*
*.temp
hosts-utility*
hosts-bastion*
hosts-kvmhost*
*.ORIG
appunti*
custom-variables.yaml*
custom-variables*
pull-secret.txt
custom-bm-ansible-nodes.json
*id_rsa
*id_rsa.pub
