! Configuration File for keepalived

global_defs {
   notification_email {
        root@localhost
   }
   notification_email_from root@localhost
   smtp_server localhost
   smtp_connect_timeout 30
}

vrrp_instance BAREMETAL {
    # for electing MASTER, highest priority wins.
{% if inventory_hostname == groups['kvmhost'][0] %}
    priority  20
    state     MASTER
{% else %}
    priority  19
    state     BACKUP
{% endif %}

    interface {{ bridge_bm }}
    virtual_router_id 50
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ insecure_password }}
    }
    virtual_ipaddress {
        {{ baremetal_net.gateway }}
    }
}
